*{
    border: 1px solid black;
    margin: 0;
    padding: 0;

}

body{
    text-align: center;
    background-color: hsla(228, 4%, 46%, 0.295);
    display: grid;    
    height:100vh;
    border: 1px solid black;
}

#darkModeBtn{
    position:absolute;
    top: 2vh;
    right: 2vh;
    width: 5vw;
    height: 5vw;
    
}

#WarningPopUp{
    border: .3vh solid red;
    border-radius: 2vh;
    max-width: 30%;
    /* background-color: rgba(255, 162, 162, 0.658); */

    position:absolute;
    top: 4vh;
    left: 3vh;

    /* text size?? */

    display: none;
}


.argWrapper{
    display: flex;
    /* gap: 2%;  */
    margin:1%;
    justify-content: center;
    /* background-color: orange; */
}

.generatedPasswordsWrapper{ 
    display:flex;
    justify-content: center;

}

p{
    /* //font family  */
}



.interactiveWrapper{
    display: grid;
    /* background-color: hsl(0, 42%, 50%); */
    width: 8%;
    
}


.ArgButtons{
    margin:0;
    padding: 0;
    width: 100%;   
    height:4vh
}

.ArgP{
    display:flex;
    height: 100%;
    align-items: center;
    /* justify-content: flex-end; */
}

#TitleP{
    font-size: 5vh;
    font-weight: bold;
    width:fit-content;
    justify-self: center;
}
